* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Logo Style*/
#logo{
    font-family: 'Sigmar One', cursive;
    font-size: 90px;
    text-align: center;

}


#game-area{
    background: url(../images/terreno.svg) bottom;
    
    width: 100%;
    height: 65vh;
    max-height: 450px;
    
    font-family: 'Roboto', sans-serif;

}
.moles-area{
    
    text-align: center;
}
img {
    width: 25%;
    height: 25%;
}
.mole{
    display: inline;
}
.mole::after{
    content:"A";
    position: relative;
    left: -13%;

}

p {
    
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 932px){

    #logo{    
    font-size: 50px;
    }
p{
    font-size: 25px;  
    }
}

