* {
    margin: 0;
    padding: 0;
    border: none;
}

/*Logo Style*/
#logo{
    font-family: 'Sigmar One', cursive;
    font-size: 90px;
    text-align: center;

}
#loading{    
    background-color: antiquewhite;
    width: 100%;    
    padding: 8% 0%;
}
.fa-mobile-alt{
    transform:rotate(90deg);
    font-size: 70px;
    margin: 10px;
}
#horizontal{
    padding: 45px 0px;
    background-color: antiquewhite;
    display: none;
}
.start{    
    padding: 10px;
    margin: 5px 44%;    
    border: 2px outset;
    border-radius: 10px;    
}
.start:hover{
    border: 2px inset;
}
#game-area{
    display: none;
    background: url(../images/terreno.svg) bottom;    
    width: 100%;
    height: 65vh;
    max-height: 450px;    
    font-family: 'Roboto', sans-serif;
    position: relative;
}
#combo{
    display: none;
}
.moles-area{    
    text-align: center;
    position: absolute;
    bottom: 15%;
}
img {
    width: 25%;
    height: 25%;
}
.mole{
    display: inline;
}
#mole1::after{
    content:"A";
    position: relative;
    left: -13%;
    font-size: xx-large;
}
#mole2::after{
    content:"S";
    position: relative;
    left: -13%;
    font-size: xx-large;
}
#mole3::after{
    content:"D";
    position: relative;
    left: -13%;
    font-size: xx-large;
}
p {    
    text-align: center;
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
}
@media screen and (max-width: 1024px){
    .moles-area {    
    bottom: 20%;
}

}


@media screen and (max-width: 932px){

    #logo {    
    font-size: 40px;
    }

    p{
    font-size: 20px;  
    }
}

@media screen and (max-width: 500px){
  #game-area,
  #loading {
      display: none;
  }
  #horizontal{
    display: block;
  }

  #mole1::after{
    
    font-size: x-large;
}
#mole2::after{
    
    font-size: x-large;
}
#mole3::after{
    
    font-size: x-large;
}


}

